<tr id="task-{{ task.id }}">
    <td>{{ task.id }}</td>
    <td>{{ task.title }}</td>
    <!-- <td>{{ task.content }}</td> -->
    <td>{{ task.date_created }}</td>

    <td colspan="2" class="flex justify-between items-center">
        <button class="btn btn-accent"
        hx-get="{% url 'task_update' task.id %}"
        hx-target="#modal-body"
        hx-swap="innerHTML"
        hx-trigger="click"
        onclick="openModal()"
        >Edit</button>

        <button class="btn btn-secondary"
        hx-get="{% url 'task_delete' task.id %}"
        hx-target="#task-{{ task.id }}"
        hx-confirm="Are you sure to Delete {{ task.title }} ?"
        >Delete</button>
    </td>
</tr>
